{% load static %}
<!doctype html>
<html>
<head>
	<title>Django Blog</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
	<link rel='stylesheet' href="{% static 'css/base.css' %}">
</head>
<body>
<header>
{% if user.is_authenticated %}
	<div class="nav-left">
		<p>---{{ user.username }}----</p>
        <a  href="{% url 'password_change' %}">+++++Change password++++++</a>
        <a  href="{% url 'logout' %}">++++Log out+++++</a>
		<h1><a href="{% url 'home' %}">Django blog</a></h1>
	</div>
	<div class="nav-right">
		<a href="{% url 'post_new' %}">New Blog Post</a>
	</div>
  {% else %}
        <form >
          <a href="{% url 'login' %}" >+++++Log in+++++</a>
          <a href="{% url 'signup' %}">----Sign up-----</a>
        </form>
 {% endif %}
</header>
<div>
	{% block content %}
	{% endblock %}
</div>
</body>
</html>

